@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, .wrapper {
  height: 100%;
  color: #515151;
}

body {
  font-family: Open Sans;
  padding: 20px;
}

.hide {
  display: none;
}

.wrapper {
  padding: 20px;
  border: 1px solid #eee;
  width: 1200px;
  margin: auto;
  position: relative;
}

.logo {
  font-family: Lobster;
  font-size: 40px;
  text-align: center;
}

.logo span {
  color: #3498db;
}

.action-controls {
  position: absolute;
  right: 50px;
  top: 40px;
}

.action-controls .create-room {
  user-appearance: none;
  padding: 10px;
  font-family: inherit;
  border: 1px solid #eee;
  background-color: #fff;
  cursor: pointer;
}

.action-controls .create-room:hover {
  border-color: #ddd;
}

/*
  Car Panel
 */

.race-window {
  width: 95%;
  margin: 40px auto;
  border: 1px solid #eee;
  padding-bottom: 40px;
}

.track {
  width: 1100px;
  margin: auto;
  height: 60px;
  border-bottom: 1px dashed #ddd;
  position: relative;
}

.speed {
  position: absolute;
  right: 0;
  height: 20px;
  width: 100px;
  border: 1px solid red;
  top: 0;
}

.car {
  transition: left 300ms linear;
}

.car[data-user-id="1"],
.car[data-user-id="2"],
.car[data-user-id="3"],
.car[data-user-id="4"] {
  width: 40px;
  height: 40px;
  position: absolute;
  background-size: 100% auto;
  bottom: -10px;
  background-repeat: no-repeat;
}

.car[data-user-id="1"] {
  background-image: url(car.svg);
}

.car[data-user-id="2"] {
  background-image: url(car2.svg);
}

.car[data-user-id="3"] {
  background-image: url(car3.svg);
}

.car[data-user-id="4"] {
  background-image: url(car4.svg);
}

.sample-text {
  padding: 20px;
  width: 1100px;
  margin: auto;
  border: 1px solid #eee;
}

.sample-text span {
  color: #aaa;
}

.user-input {
  padding: 10px;
  width: 1100px;
  margin: auto;
  border: 1px solid #eee;
  margin-top: 40px;
}

.user-input input {
  width: 100%;
  border: 0;
  font-size: 16px;
  font-family: inherit;
  resize: none;
  background-color: transparent;
  
}

.m {
  background-color: #e2ffe5;
}

.dm {
  background-color: #fff2f2;
}

.create-room-modal {
  position: fixed;
  background-color: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.create-room-wrapper {
  width: 500px;
  height: 120px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-room-wrapper h2 {
  font-weight: 300;
  text-align: center;
  padding: 10px;
}

.create-room-wrapper h2 span {
  display: none;
}

.create-room-wrapper h2:hover span {
  display: inline-block;
}

.create-room-wrapper input[type=text] {
  padding: 10px;
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 10px;
}